.archivo-black-regular {
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	padding: 20px;
	padding-bottom: 50px;
}

body {
	color: #242424;
	padding: 0;
	margin: 0;
	background-color: rgb(37, 37, 37);
}

/* Left Column w/ Polaroid Images */
main {
	width: 40%;
}

article {
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h1 {
	font-family: "Archivo Black", sans-serif;
	font-size: 32px;
	color: rgb(247, 195, 5);
}
header h2 {
	color: #f0f0f0;
}
h2 {
	font-family: "Archivo Black", sans-serif;
	font-size: 20px;
	align-items: left;
}

h3 {
	font-size: 12px;
	line-height: 1;
	align-items: left;
	font-family: "Archivo", sans-serif;
}

.polaroid {
	background-color: white;
	padding: 15px;
	border: 1px solid #ddd;
	box-shadow: 0 0.2rem 1.2rem rgba(1, 51, 64, 1);
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 0px; /* Reduce margin-top to make polaroids closer vertically */
}

.title {
	text-align: center;
}

/* imgBx */
.imgBx {
	width: 180px;
	height: 280px; 
	overflow: hidden;
	padding-bottom: 10px;
	padding-top: 10px;
}

.polaroid > .imgBx img {
	width: 100%; /* Make the image fill the .imgBx */
	height: 100%; /* Make the image fill the .imgBx */
	object-fit: cover;
	transition: transform 0.35s;
	filter: grayscale();
}

.polaroid:hover {
	filter: none;
	transform: scale(1.1, 1) rotate(0deg);
	transition: all 0.5s ease;
	z-index: 5;
}

.polaroid:hover .imgBx img {
	filter: none;
}

/* different polaroid styles */

.one {
	transform: rotate(-20deg);
	margin-left: -20px;
	margin-top: 200px;
}

.two {
	transform: rotate(64deg);
	margin-left: 200px;
	margin-top: 100px;
}

.three {
	transform: rotate(-10deg);
	margin-left: -250px;
	margin-top: -300px;
}
.four {
	transform: rotate(35deg);
	margin-left: 150px;
	margin-top: -350px;
}
.five {
	transform: rotate(-60deg);
	margin-left: -110px;
	margin-top: -500px;
}
.six {
	transform: rotate(10deg);
	margin-left: 275px;
	margin-top: -775px;
}
.seven {
	transform: rotate(-25deg);
	margin-left: -125px;
	margin-top: -850px;
}
.eight {
	transform: rotate(50deg);
	margin-left: 150px;
	margin-top: -1100px;
}

/* right column */
figure {
	display: block;
	margin: 0;
	width: 60%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	overflow: hidden;
	background-color: black;
}

figure img {
	position: absolute;
	transition: all 4s ease;
}

