.banner {
    width: 1100px;
    height: 250px;
}

ul {
    list-style-type: none;   
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#experiements {
grid-template-columns: 1/2;
}

#final {
    grid-template-columns: 3/4;
    }
