body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

main {
    align-items: center;
    justify-content: center;
    display: flex ;
    flex-direction: column;
}
  
  .chat {
    width: 625px;
    border: solid 2px #EEE;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;

  }
  
  .myText {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .greyText {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .message {
    border-radius: 20px;
    padding: 7px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  
  .greyText .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  
  .myText .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4b9cdb;
  }

  @keyframes dotani {
    0 {
      transform: translate(0, 0);
    }
    16% {
      transform: translate(0, -15px);
    }
    33% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .container .dot:nth-last-child(1) {
    animation: dotani 1s 0.2s ease-in infinite;
  }
  .container .dot:nth-last-child(2) {
    animation: dotani 1s 0.4s ease-in infinite;
  }
  .container .dot:nth-last-child(3) {
    animation: dotani 1s 0.6s ease-in infinite;
  }

  input {
    border-radius: 10px;
    stroke: none;
    margin: 5px;
  
  }

  form {
    line-height: 5%;
  }
  
  input .send {
    margin: none;
    padding: 5px;
  }

  img {
    max-width: 200px;
    border-radius: 15px;

  }